* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/register.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
}
header h1 {
  /* border: 1px solid black; */
  padding: 1em;
  text-align: center;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding: 1em;
  height: 100%;
  background-color: #ffe4c45a;
  border-radius: 1em;
}
main form {
  padding: 0.5em;
  display: grid;
  place-content: center center;
  grid-template-areas:
    "a a b b "
    "c c d d"
    "e e f f"
    "g g h h"
    "i i i i";
  gap: 1em;
  margin: auto;
  width: 50%;
  height: 100%;
}
#login {
  background-image: url("../images/login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#successPage {
  background-image: url("../images/homepage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#succes {
  color: green;
  font-size: em;
}
#successful {
  color: green;
  width: 50vw;
  background-color: #eee;
  font-size: 3em;
  text-align: center;
  border: 1px solid green;
  border-radius: 0.8em;
}


h2 {
  text-align: center;
}
label,
input {
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
}
input {
  margin-bottom: 0.5em;
  padding: 0.8em;
  border-radius: 0.3em;
  border: none;
  border-bottom: 3px solid #d3d08e;
}
input:focus {
  outline: 2px solid #d3d08e;
}
.firstname {
  grid-area: a;
}
.lasname {
  grid-area: b;
}
.othname {
  grid-area: c;
}
.mail {
  grid-area: e;
}
.number {
  grid-area: d;
}
.birth {
  grid-area: f;
}
#dob {
  width: 17em;
  height: 3.5em;
}
#dob:hover {
  cursor: pointer;
}
.sex {
  grid-area: g;
}
select {
  width: 95%;
  height: 3em;
  border-radius: 0.3em;
  border: none;
  border-bottom: 3px solid #d3d08e;
}
select:focus {
  outline: 2px solid #d3d08e;
}
select:hover {
  cursor: pointer;
}
.color {
  grid-area: h;
}
#favcolor {
  width: 14em;
  height: 3em;
}
#favcolor:hover {
  cursor: pointer;
}
.submit {
  grid-area: i;
  margin: auto;
  padding: 0.5em;
  width: 70%;
}
.submit input:hover {
  cursor: pointer;
  background-color: #d3d08e;
  box-shadow: 5px -5px 7px #e78c2bcd;
  transition: 1s background-color ease-out;
}
a {
  text-decoration: none;
}

a {
  color: blue;
  text-decoration: none;
}
p {
  margin-left: 7em;
  width: 120%;
  font-weight: 600;
}

h1 {
  text-align: center;
  margin: 1em;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
footer {
  color: #eee;
  text-align: center;
  background-color: black;
  width: 1000vh;
  height: 5vh;
 padding: 0.5em;
}

@media screen and (max-width: 425px) {
  main form {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
  }
  main p {
    margin-left: -1em;
    width: 150%;
    font-weight: 600;
  }
} 